.card {
  box-sizing: border-box;
  min-width: fit-content;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  position: relative;

  color: #000;
  border: 0px;
  border-radius: 8px;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.1px 0.9px 3px rgba(117, 117, 117, 0.534);
  cursor: pointer;

  &:hover {
    box-shadow: 1px 8px 10px rgba(128, 128, 128, 0.562);
    transition: box-shadow 0.1s ease-in;
  }

  img {
    width: 80%;
    border-radius: 6px;
    border: 2px solid;
    border-color: black;

    display: flex;
    margin: auto;
  }

  &-sayfa {
    font-size: 13px;
    color: black;

    font-family: "Signika", sans-serif;

    position: absolute;
    right: 10px;
    top: 10px;
  }

  &-baslik {
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-right: auto;
    font-family: "Signika", sans-serif;
    width: 300px;
  }

  &-author {
    margin-top: 0;
    font-family: "Signika", sans-serif;
    margin-right: auto;
    color: rgb(71, 71, 71);

    margin-bottom: 20px;
  }

  &-yayinevi {
    font-family: "Signika", sans-serif;
    margin: auto;
    color: black;
    margin-top: 15px;
    text-transform: capitalize;
  }

  &-buttons {
    display: flex;
    margin-top: 20px;
  }
  .btn-right {
    margin-left: 20px;
  }
}

a {
  text-decoration: none;
}
